body {
    background-color: hsl(50, 33%, 25%);
}
#flex {
    display: flex;
    flex-direction: row;
}
nav {
    background-color: #ececec;

}
main {
    background-color: #ffffff;
}
h1 {
    color: red;
}